
.expenseLineItem {
  display: grid;
  grid-template-columns: 170px auto 130px;
  border-radius: 10px;
  margin: 20px;
  background-color: #3f3f3f;
}

.expenseLineItemDescription {
  margin-left: 25px;
}
